body{
    margin: 0px;   
    background-color: silver ;
}

h1{
    background-color: #29434e;
    color:white;
    padding: 20px;
}

.photos img{
    max-width: 1200px;
    
    width: 100%;
}

.photos{
    margin: auto;
    left: 0;
    right:0;
    bottom: 40px;

    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0px;
    z-index:-1;

}

.but a{
    background-color: #546e7a;
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 1.18rem;
    display: inline-block;
}
.but :hover{
    background-color: #819ca9;
    color: #fff;
    text-indent: -5px;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: #819ca9;
    color: black;
    text-align: center;
}

.importbut{
    margin: 24px 10px;
}